<style>
	.jumbotron{
		margin:55px;
		border:4px solid black;
		padding:50px;
	    background: url("/images/newyork.jpg");
	    color:#E0E0E0;
	    background-size: 800px 360px;
	}
	h1{
	    color: black;
	    text-shadow:
	    -1px -1px 0 #000,
	    1px -1px 0 #000,
	    -1px 1px 0 #000,
	    1px 1px 0 #000;  
	}
	#manage_users,#messages, #edit{
		width:330px;
		height:150px;
		display:inline-block;
		margin-left:25px;
		vertical-align: top;

	}
	#bottom{
		margin-left:75px;
	}
	button{
		width:90px;
		margin-top:15px;
	}
</style>
<nav class="navbar navbar-default">
<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">JobBoard</a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
     	<li><a href="#">Home</a></li>
      	<li><a href="#/login">Sign in</a></li>
    </ul>
  </div>
</div>
</nav>
<div class="jumbotron">
  <h1>Welcome to JobBoard</h1>
  <p>We are here for you, whether you are looking for excelent talent or a new career!</p>
  <p><a href="#/login" class="btn btn-primary btn-lg">Learn more</a></p>
</div>
<div id="bottom">
	<div id="manage_users">
		<h2>Find Jobs</h2>
		<p>Using this application, you'll get access to numerous job postings.</p>
	</div>
	<div id="edit">
		<h2>Find Employees</h2>
		<p>Employers will be able to hire from our verified talent.</p>
	</div>
	<div id="messages">
		<h2>Ask Questions</h2>
		<p>Users will be able to ask recruiters any questions they may have.</p>
	</div>
</div>
